<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Gestion des Hôtels</title>
<link rel="stylesheet"
th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<!-- Inclut la barre de navigation depuis template.html -->
<div th:replace="template :: menu"></div>
<div class="container mt-4">
<div class="jumbotron">
<h2>Bienvenue dans la Gestion des Hôtels</h2>
<a th:href="@{/ListeHotels}" class="btn btn-dark btn-lg">
Voir la liste des hôtels
</a>
</div>
</div>
</body>
</html>